rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read access to users collection for authenticated users
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }

    // Allow admins to manage exams, and invited candidates to read them.
    match /exams/{examId} {
      allow read, write: if request.auth != null;
    }

    // Allow admins to manage invitations
    match /invitations/{invitationId} {
       allow read, write: if request.auth != null;
    }

    // Allow candidates to submit their results
    match /results/{resultId} {
      allow read, write: if request.auth != null;
    }
  }
}
